
/* Global styles */



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form styles */
form {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="radio"] {
  margin-right: 10px;
}

button[type="button"],
button[type="reset"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="button"]:hover,
button[type="button"]:focus,
button[type="reset"]:hover,
button[type="reset"]:focus {
  background-color: #005fa3;
}

/* Result styles */
#result {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

/* Chart styles */
#chart {
  flex: 0 0 400px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
